<h3>Mitarbeiter</h3>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Personalnummer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.vorname %></td>
        <td><%= employee.nachname %></td>
        <td><%= employee.personalnummer %></td>
        <td><%= link_to "<i class='fi-eye icon-green'></i>".html_safe, employee %></td>
        <td><%= link_to "<i class='fi-pencil icon-blue'></i>".html_safe, edit_employee_path(employee) %></td>
        <td><%= link_to "<i class='fi-trash icon-red'></i>".html_safe, employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuen Mitarbeiter anlegen', new_employee_path %>
