<div class="mainpart">
  <h3>Maschinen von <%= full_name(@employee) %></h3>
  <% unless @indexmachines.blank? %>
    <hr>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <table>
          <thead>
            <tr>      
              <th>Ausgegeben am</th>
              <th>Ausgegeben von</th>
              <th>Machine</th>
              <th>Barcode</th>
              <th>Ausgeliehen</th>
              <% if @employee == current_employee %>
                <th>Rückgabe</th> 
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @indexmachines.each do |indexmachine| %>
              <tr>
                <td><%= de_date(indexmachine.ausgegeben_am) %></td>
                <td><%= indexmachine.ausgegeben_von %></td>
                <td><%= @machines.find_by(id: indexmachine.machine_id).hersteller %> <%= @machines.find_by(id: indexmachine.machine_id).modell %></td>
                <td><%= @machines.find_by(id: indexmachine.machine_id).barcode %></td>
                <td><%= bool_to_german(indexmachine.ausgeliehen) %></td>
                <% if @employee == current_employee %>
                  <td><center><%= link_to "<i class='fi-refresh icon-red'></i>".html_safe, employee_indexmachine_path(@employee.id, indexmachine.id), method: :delete, data: { confirm: 'Sind sie sicher das sie den Eintrag löschen möchten?' } %></center></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <% if current_employee == @employee %>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <%= link_to 'Neue Maschine ausgeben', new_employee_indexmachine_path(current_employee), class: 'button small radius' %>
      </div>
    </div>
  <% end %>
</div>
<div class="mainpart">
  <h3>Werkzeuge von <%= full_name(@employee) %></h3>
  <% unless @indextools.blank? %>
  <hr>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <table>
        <thead>
          <tr>
            <th>Ausgegeben am</th>
            <th>Ausgegeben von</th>
            <th>Werkzeug</th>
            <th>Barcode</th>
            <% if @employee == current_employee %>
              <th>Rückgabe</th>
              <th>Defekt / Verlust</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @indextools.each do |indextool| %>
            <tr>
              <td><%= de_date(indextool.ausgegeben_am) %></td>
              <td><%= indextool.ausgegeben_von %></td>
              <td><%= @tools.find_by(id: indextool.tool_id).hersteller %> <%= @tools.find_by(id: indextool.tool_id).modell %></td>
              <td><%= @tools.find_by(id: indextool.tool_id).barcode %></td>
              <% if @employee == current_employee %>        
                <td><center><%= link_to "<i class='fi-refresh icon-red'></i>".html_safe, employee_indextool_path(@employee.id, indextool.id), method: :delete, data: { confirm: 'Sind sie sicher das sie den Eintrag löschen möchten?' } %></center></td>
                <td><center><%= link_to "<i class='fi-x icon-red'></i>".html_safe, remove_employee_indextool_path(@employee.id, indextool.id), data: { confirm: 'Sind sie sicher das sie den Eintrag löschen möchten?' } %></center></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <% if current_employee == @employee %>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <%= link_to 'Neues Werkzeug ausgeben', new_employee_indextool_path(current_employee), class: 'button small radius' %>
      </div>
    </div>
  <% end %>
</div>
<div class="footer">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <%= link_to 'Bearbeiten', edit_employee_path(@employee), class: 'button small radius' %>
      <%= link_to 'Übersicht', employees_path, class: 'button small radius' %>
      <%= link_to 'Zurück', :back, class: 'button small radius' %>
    </div>
  </div>
</div>