<p id="notice"><%= notice %></p>

<p>
  <strong>Ausgeliehen:</strong>
  <%= @indextool.ausgeliehen %>
</p>

<p>
  <strong>Ausgeliehen am:</strong>
  <%= @indextool.ausgeliehen_am %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @indextool.employee %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @indextool.tool %>
</p>

<%= link_to 'Edit', edit_indextool_path(@indextool) %> |
<%= link_to 'Back', indextools_path %>
