<%= form_for(@machine) do |f| %>
  <div class="field">
    <%= f.label :hersteller %><br>
    <%= f.text_field :hersteller %>
  </div>
  <div class="field">
    <%= f.label :modell %><br>
    <%= f.text_field :modell %>
  </div>

<%= f.hidden_field :barcode %>

  <div class="actions">
    <% if params[:action] == "new" %>
      <%= f.submit "Anlegen" %>
    <% else %>
      <%= f.submit "Bearbeiten" %>
    <% end %>
  </div>
<% end %>
