<div class="mainpart">
	<h3>Maschine bearbeiten</h3>
	<hr>
	<%= render 'form' %>
</div>
<div class="footer">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<%= link_to 'Anzeigen', @machine, class: 'button small radius' %>
			<%= link_to 'Löschen', @machine, method: :delete, data: { confirm: 'Sind sie sicher das sie diesen Eintrag löschen möchten?' }, class: 'button small radius' %>
			<%= link_to 'Übersicht', machines_path, class: 'button small radius' %>
			<%= link_to 'Zurück', :back, class: 'button small radius' %>
		</div>
	</div>
</div>
