<div class="mainpart"> 
  <h3>Maschinen</h3>
  <hr>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <% unless @machines.blank? %>
        <table>
          <thead>
            <tr>
              <th>Hersteller</th>
              <th>Modell</th>
              <th>Barcode</th>
              <th>Ausgegeben</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @machines.each do |machine| %>
              <tr>
                <td><%= machine.hersteller %></td>
                <td><%= machine.modell %></td>
                <td><%= machine.barcode %></td>
                <td><%= bool_to_german(machine.ausgeliehen) %></td>
                <td><%= link_to "<i class='fi-eye icon-green'></i>".html_safe, machine %></td>
                <td><%= link_to "<i class='fi-pencil icon-blue'></i>".html_safe, edit_machine_path(machine) %></td>
                <td><%= link_to "<i class='fi-trash icon-red'></i>".html_safe, machine, method: :delete, data: { confirm: 'Sind sie sicher das sie diesen Eintrag löschen möchten?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <%= link_to 'Neue Maschine hinzufügen', new_machine_path, class: 'button small radius' %>
    </div>
  </div>
</div>
<br>

<div class="footer">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <%= link_to 'Zurück', :back, class: 'button small radius' %>
    </div>
  </div>
</div>