<p id="notice"><%= notice %></p>
<%= @current_employee.vorname %>
<h1>Listing Machines</h1>

<table>
  <thead>
    <tr>
      <th>Hersteller</th>
      <th>Modell</th>
      <th>Barcode</th>
      <th>Ausgeliegen</th>
      <th>Ausgeliehen seit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.hersteller %></td>
        <td><%= machine.modell %></td>
        <td><%= machine.barcode %></td>
        <td><%= machine.ausgeliehen %></td>
        <td><%= machine.ausgegeben_am %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
