

<p>
  <strong>Hersteller:</strong>
  <%= @machine.hersteller %>
</p>

<p>
  <strong>Modell:</strong>
  <%= @machine.modell %>
</p>

<p>
  <strong>Barcode:</strong>
  <% @barcode = Barby::EAN8.new('1234567') %>
  <% @barcode_for_html = Barby::CairoOutputter.new(@barcode) %>
  <%=raw @barcode_for_html.to_png %>
</p>

<p>
  <strong>Ausgeliegen:</strong>
  <%= @machine.ausgeliehen %>
</p>

<p>
  <strong>Ausgeliehen seit:</strong>
  <%= @machine.ausgegeben_am %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
