<p>
  <strong>Hersteller:</strong>
  <%= @machine.hersteller %>
</p>

<p>
  <strong>Modell:</strong>
  <%= @machine.modell %>
</p>

<p>
  <strong>Barcode:</strong>
  <table>
    <tr>
      <td><%= image_tag("ean8.png")  %></td>
    </tr>
    <tr>
      <td><center><%= @machine.barcode %></center></td>
    </tr>
  </table>
</p>

<p>
  <strong>Ausgegeben:</strong>
  <%= bool_to_german(@machine.ausgeliehen) %>
</p>


  <% if @employee == nil %>
  <% else %>
<p> 
  <strong>Ausgegeben an:</strong><br>
  Name:   <%= @employee.vorname %> <%= @employee.nachname %>
  <br>Personalnummer: <%= @employee.personalnummer %>
  <br>Datum: <%= @indexmachine.ausgegeben_am %> 
  <br>Ausgeliehen: <%= bool_to_german(@indexmachine.ausgeliehen) %> 
</p>

<% end %>

<%= link_to 'Bearbeiten', edit_machine_path(@machine) %> |
<%= link_to 'Löschen', @machine, method: :delete, data: { confirm: 'Sind sie sicher das sie diesen Eintrag löschen möchten?' } %> |
<%= link_to 'Zurück', :back %>
