<div class="mainpart">  
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">      
      <p>
        <strong>Hersteller:</strong>
        <%= @machine.hersteller %>
      </p>
      <p>
        <strong>Modell:</strong>
        <%= @machine.modell %>
      </p>
      <p>
        <strong>Barcode:</strong>
        <table>
          <tr>
            <td><%= image_tag("ean8.png")  %></td>
          </tr>
          <tr>
            <td><center><%= @machine.barcode %></center></td>
          </tr>
        </table>
      </p>
      <p>
        <strong>Ausgegeben:</strong>
        <%= bool_to_german(@machine.ausgegeben) %>
      </p>
    </div>
  </div>
</div>
<% unless @employee == nil %>
  <div class="mainpart"> 
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">      
        
        <p> 
          <strong>Ausgegeben an:</strong><br>
          Name:   <%= @employee.vorname %> <%= @employee.nachname %>
          <br>Personalnummer: <%= @employee.personalnummer %>
          <br>Datum: <%= de_date(@indexmachine.ausgegeben_am) %> 
          <br>Ausgeliehen: <%= bool_to_german(@indexmachine.ausgeliehen) %> 
        </p>    
      </div>
    </div>
  </div>
<% end %>
<div class="footer">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <%= link_to 'Bearbeiten', edit_machine_path(@machine), class: 'button small radius' %>
      <%= link_to 'Löschen', @machine, method: :delete, data: { confirm: 'Sind sie sicher das sie diesen Eintrag löschen möchten?' }, class: 'button small radius' %>
      <%= link_to 'Übersicht', machines_path, class: 'button small radius' %>   
      <%= link_to 'Zurück', :back, class: 'button small radius' %>
    </div>
  </div>
</div>