<%= stylesheet_link_tag "print", media: "print" %>

<p>
  <strong>Hersteller:</strong>
  <%= @machine.hersteller %>
</p>

<p>
  <strong>Modell:</strong>
  <%= @machine.modell %>
</p>

<p>
  <strong>Barcode:</strong>
  <table class="printable">
    <tr>
      <td class="printable"><%= image_tag("ean8.png")  %></td>
    </tr>
    <tr>
      <td class="barcode printable"><center><%= @barcode %></center></td>
    </tr>
  </table>


<%= link_to "print", "#", onclick: "printpage()" %>
</p>

<p>
  <strong>Ausgeliegen:</strong>
  <%= @machine.ausgeliehen %>
</p>



<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
