<div class="mainpart">
	<h3>Werkzeugkartei öffnen</h3>
	<hr>
	<%= form_tag(employee_session_path, data: {abide: ''}) do %>
		<div class="row">
    	<div class="small-3 medium-3 large-3 columns">
				<%= label_tag :personalnummer %>
			</div>
			<div class="small-9 medium-9 large-9 columns">
				<%= number_field :personalnummer, nil, autofocus: true, required: '', pattern: 'employee_number' %>
				<%= content_tag(:small, "Bitte geben sie eine gültige Personalnummer ein", class: "error") %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<%= submit_tag 'Einloggen', class: 'button small radius' %>
			</div>
		</div>
	<% end %>
</div>
<div class="footer">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<%= link_to 'Zurück', :back, class: 'button small radius' %>
		</div>
	</div>
</div>