<%# navigation styled for Zurb Foundation 5 %>
<table class="header">
  <tr>
    <td>
      <div align="left"><%= image_tag("stadtwerke_logo.png", width: '270') %></div>
    </td>
    <td>
      <div align="right"><%= image_tag("wtnet_logo.gif", width: '190') %></div>
    </td>
  </tr>
</table>  
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <li class="has-dropdown">
       <%= link_to "Werkzeuge", tools_path %>
        <ul class="dropdown">
          <li><%= link_to "Neues Werkzeug", new_tool_path %></li>                   
        </ul>
      </li>
    </ul>
    <ul>
      <li class="has-dropdown">
       <%= link_to "Maschinen", machines_path %>
        <ul class="dropdown">
          <li><%= link_to "Neue Maschine", new_machine_path %></li>                   
        </ul>
      </li>
    </ul>
    <ul>
      <li class="has-dropdown">
       <%= link_to "Mitarbeiter", employees_path %>
        <ul class="dropdown">
          <li><%= link_to "Neuer Mitarbeiter", new_employee_path %></li>                   
        </ul>
      </li>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li><%= link_to "Ausgabe", begin_path %></li>
        <li><%= link_to "SignOut", session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "SignIn", signin_path %></li>|      
      <% end %>
    </ul>
  </div>
</nav>
