<%= form_for [@employee, @indexmachine] do |f| %>


    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.hidden_field :ausgeliehen, value: "false" %>
      <%= f.hidden_field :ausgegeben_am, value: "2016-09-09" %>
    <div class="row">
      <div class="medium-3 columns">
       <%= label_tag :barcode %>
      </div>
      <div class="medium-9 columns">
       <%= text_field_tag :barcode %>
      </div>
    </div>  
      <div class="row">
      <div class="medium-12 columns">
        <%= f.submit %>
      </div>
    </div>  
  <% end %> 