<h1>Maschinen von <%= @employee.vorname %> <%= @employee.nachname %></h1>

<table>
  <thead>
    <tr>
      <th>Ausgeliehen</th>
      <th>Ausgegeben am</th>
      <th>Machine</th>
      <th>Barcode</th>
      <th>Löschen</th>
    </tr>
  </thead>

  <tbody>
    <% @indexmachines.each do |indexmachine| %>
      <tr>
        <td><%= indexmachine.ausgeliehen %></td>
        <td><%= indexmachine.ausgegeben_am %></td>
        <td><%= @machines.find_by(id: indexmachine.machine_id).hersteller %> <%= @machines.find_by(id:indexmachine.machine_id).modell %></td>
        <td><%= @machines.find_by(id: indexmachine.machine_id).barcode %></td>
        <td><%= link_to 'Destroy', employee_indexmachine_path(@employee.id, indexmachine.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Neues Werkzeug ausleihen', new_employee_indexmachine_path(@employee.id) %>
