<p id="notice"><%= notice %></p>

<p>
  <strong>Ausgeliehen:</strong>
  <%= @indexmachine.ausgeliehen %>
</p>

<p>
  <strong>Ausgeliehen am:</strong>
  <%= @indexmachine.ausgegeben_am %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @indexmachine.employee %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @indexmachine.machine %>
</p>

<%= link_to 'Edit', edit_indexmachine_path(@indexmachine) %> |
<%= link_to 'Back', indexmachines_path %>
