<%= render "shared/errors", object: @tool %>
<%= form_for(@tool, data: {abide: ''}) do |f| %>
  
  <%= f.hidden_field :barcode %>
  <%= f.hidden_field :anzahl_ersatz %>
  <div class="row">
    <div class="small-3 medium-3 large-3 columns">
      <%= f.label :hersteller %>
    </div>
    <div class="small-9 medium-9 large-9 columns">
      <%= f.text_field :hersteller, required: '', pattern: 'long_field' %>
      <%= content_tag(:small, "Bitte geben sie einen g端ltigen Hersteller ein", class: "error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 medium-3 large-3 columns">
      <%= f.label :modell %>
    </div>
    <div class="small-9 medium-9 large-9 columns">
      <%= f.text_field :modell, required: '', pattern: 'long_field' %>
      <%= content_tag(:small, "Bitte geben sie einen g端ltiges Modell ein", class: "error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 medium-3 large-3 columns">
      <%= f.label :lagerbestand %>
    </div>
    <div class="small-9 medium-9 large-9 columns">
      <%= f.number_field :lagerbestand, required: '', pattern: 'number' %>
      <%= content_tag(:small, "Bitte geben sie eine g端ltige Anzahl ein", class: "error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 medium-3 large-3 columns">
      <%= f.label :mindestbestand %>
    </div>
    <div class="small-9 medium-9 large-9 columns">
      <%= f.number_field :mindestbestand, required: '', pattern: 'number' %>
      <%= content_tag(:small, "Bitte geben sie eine g端ltige Anzahl ein", class: "error") %>
    </div>
  </div>
  <div class="actions">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <% if params[:action] == "edit" %>
          <%= f.submit "Bearbeiten", class: 'button small radius' %>          
        <% else %>
          <%= f.submit "Anlegen", class: 'button small radius' %>
        <% end %> 
      </div>
    </div>
  </div>
<% end %>