
<p>
  <h3>Werkzeuge</h3>
</p>
<table>
  <thead>
    <tr>
      <th>Hersteller</th>
      <th>Modell</th>
      <th>Barcode</th>
      <th>Lagerbestand</th>
      <th>Mindestbestand</th>
      <th>Anzahl ersatz</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tools.order("barcode").each do |tool| %>
      <tr>
        <td><%= tool.hersteller %></td>
        <td><%= tool.modell %></td>
        <td><%= tool.barcode %></td>
        <td><%= tool.lagerbestand %></td>
        <td><%= tool.mindestbestand %></td>
        <td><%= tool.anzahl_ersatz %></td>
        <td><%= link_to "<i class='fi-eye icon-green'></i>".html_safe, tool %></td>
        <td><%= link_to "<i class='fi-pencil icon-blue'></i>".html_safe, edit_tool_path(tool) %></td>
        <td><%= link_to "<i class='fi-trash icon-red'></i>".html_safe, tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Werkzeug hinzufügen', new_tool_path %>
