<p id="notice"><%= notice %></p>

<h1>Listing Tools</h1>

<table>
  <thead>
    <tr>
      <th>Hersteller</th>
      <th>Modell</th>
      <th>Barcode</th>
      <th>Lagerbestand</th>
      <th>Mindestbestand</th>
      <th>Anzahl ersatz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.Hersteller %></td>
        <td><%= tool.Modell %></td>
        <td><%= tool.Barcode %></td>
        <td><%= tool.Lagerbestand %></td>
        <td><%= tool.Mindestbestand %></td>
        <td><%= tool.Anzahl_Ersatz %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>
