<p>
  <strong>Hersteller:</strong>
  <%= @tool.hersteller %>
</p>

<p>
  <strong>Modell:</strong>
  <%= @tool.modell %>
</p>

<p>
  <strong>Barcode:</strong>
  <table>
    <tr>
      <td><%= image_tag("ean8.png")  %></td>
    </tr>
    <tr>
      <td class="white-back"><center><%= @tool.barcode %></center></td>
    </tr>
  </table>
</p>

<p>
  <strong>Lagerbestand:</strong>
  <%= @tool.lagerbestand %>
</p>

<p>
  <strong>Mindestbestand:</strong>
  <%= @tool.mindestbestand %>
</p>

<p>
  <strong>Anzahl ersatz:</strong>
  <%= @tool.anzahl_ersatz %>
</p>

<%= link_to 'Bearbeiten', edit_tool_path(@tool) %> |
<%= link_to 'Löschen', @tool, method: :delete, data: { confirm: 'Sind sie sicher das sie diesen Eintrag löschen möchten?' } %> |
<%= link_to 'Zurück', tools_path %>
